@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

/* MAIN GLOBAL CSS*/

body {
    font-family: 'Spartan', sans-serif, Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}

html {
    scroll-behavior: smooth;
}

/* HEADER MAIN CSS */

header h1 {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    margin-bottom: 55px;
    padding-top: 40px;
}

body>header>nav li {
    display: inline-block;
}


body>header nav {
    text-align: center;
    height: 50px;
}

body>header>nav ul  {
    padding: 0;
}

body>header>nav>ul a {
    padding: 30px;
    text-decoration: none;
    list-style: none;
    color: black;
}

body>header>nav>ul a:hover {
    background-color: gainsboro;
    transition: 0.25s;
}

header h1 {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1); 
}

/* SECTION MAIN CSS */

section>article h1 {
    text-align: center;
    margin: 0;
    text-decoration: underline;
    text-underline-position: under;
}

section>article h1:first-child {
    margin-top: 30px;
    margin-bottom: 10px;
}

section>article p {
    text-align: center;
}

section>article img {
    display: block;
    margin: auto;
    padding: 20px;
    transition: 0.25;
}

section>article img {
    transition: 0.25s;
}


/* ID's */


#more_html {
    color: #FF8040;
    text-decoration: none;
    list-style-type: none;
}

#more_html:hover {
    color: #C24641;
}

#html_code {
    box-shadow: 13px 10px 21px -1px rgba(0,0,0,0.75);
    margin-bottom: 70px;
}

#css_snippet {
    box-shadow: 13px 10px 21px -1px rgba(0,0,0,0.75);
    margin-bottom: 70px;
}

#js_snippet {
    box-shadow: 13px 10px 21px -1px rgba(0,0,0,0.75);
    margin-bottom: 70px;
}

#head_tag {
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 13px 10px 21px -1px rgba(0,0,0,0.75);
}

#alert {
    background-color: #ffae42;
}

#alert p {
    text-align: center;
    padding: 20px;
}

#map {
    text-align: center;
    margin-top: 10px;
}

#map iframe {
    pointer-events: none;
}

/* CLASSES */
.closebtn {
    font-size: 2em;
}

.closebtn:hover {
    color: red;
    cursor: grab;
}

.example_code {
    margin-top: 55px;
}

.jump_scroll {
    color: #FF8040;
    text-decoration: none;
    list-style-type: none;
}

.jump_scroll:hover {
    color: #C24641;
}

.row {
    display: flex;
    padding: 20px;
} 

.row img {
    box-shadow: 13px 10px 21px -1px rgba(0,0,0,0.75);
}

.column {
    margin: auto;
}

/* FOOTER */

footer {
    text-align: center;
    margin-bottom: 20px;
}

footer a {
    margin-left: 0;
    padding-left: 0;
    padding-right: 10px;
}

footer button {
    margin-top: 10px;
}

/* MEDIA */

@media only screen and (max-width: 1200px)
{
    body {
        width: auto;
    }

    body>header nav {
        width: auto;       
    }

    body>header>nav>ul a:hover {
        background-color: gainsboro;
        transition: 0.25s;
    }

    body>header>nav li {
        display: inline;        
    }

    body>header>nav>ul a {
        padding: 10px;
    }

    #html_code {
        width: 350px;
        height: 250px;
    }

    #alert {
        width: auto;
        background-color: #ffae42;
    }

    .row {
        display: block;
        margin: auto;
    }

    #map iframe {
        width: 400px;
        height: 400px;
    }
    
}